*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




html{
  scroll-behavior: smooth;
}




body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0b0e1a, #12162a);
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    width: 100%;

    
  }


  
  .navbar {
    backdrop-filter: blur(10px) !important;   
    border: 1px solid rgba(0, 255, 255, 0.2);
    box-shadow: 0 0 20px #00f0ff33;
    position: fixed;
    width: 100%;
    z-index: 999;


  }
  
  .logo-img {
    height: 50px;
    width: 200px;
  }
  
  /* Nav Links */
  .navbar-nav .nav-link {
    color: white;
    margin-left: 1rem;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
  }

  
  .navbar-nav .nav-link:hover,
  .dropdown-item:hover {
    color: black;
    background-color: #00f0ff;
    padding: auto;
    /* border-radius: 5px; */
    transition: 0.4s ease-in-out;
    box-shadow: 0 0 10px #00f0ff;

  }
  
  /* Dropdown Menu */
  .dropdown-menu {
    background-color: #111325;
    border: none;
    box-shadow: 0 0 10px #00f0ff55;
  }
  
  .dropdown-item {
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #1b1e3b;
    color: #00f0ff;
  }
  
  /* Button Styling */
  .btn-outline-light {
    border-color: #00f0ff;
    color: #00f0ff;
    transition: 0.3s;
  }
  
  .btn-outline-light:hover {
    background-color: #00f0ff;
    color: #0d0f24;
    box-shadow: 0 0 10px #00f0ff;
  }
  
  /* Mobile Nav Icon */
  .navbar-toggler {
    border-color: #00f0ff;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2300f0ff' viewBox='0 0 30 30'%3e%3cpath stroke='%2300f0ff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }


  .hero {
    position: relative;
    height: 100vh;
    color: white;
    overflow: hidden;
  }


  

  #bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6);
  }

  /* Styling for the image */
.floating-img {
  animation: floatUpDown 3s ease-in-out infinite;
  transition: transform 0.3s ease;
  height: 400px;
}



/* Animation */
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(35px);
  }
  100% {
    transform: translateY(0);
  }
}

  
  .hero .container.text {
    z-index: 2;
    position: relative;
  }
  
  .hero h1 {
    font-size: 4rem;
    -webkit-text-stroke: 1px white;
    color: transparent;
    animation: slideIn 1s ease forwards;
  }
  
  .hero h1 span {
    color: #00f0ff;
    text-shadow: #5500ff;
  }
  
  .hero p {
    font-size: 1.2rem;
    animation: fadeIn 1.5s ease forwards;
  }
  
  .hero a.btn {
    font-size: 1.1rem;
    padding: 12px 28px;
    background-color:#00f0ff;
    border: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .hero a.btn:hover {
    box-shadow: 0 0 20px #00f0ff;
    color: #000;
    z-index: 999;
  }
  
  /* Animations */
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  



  #constellations {
    background-image: url(beautiful-shining-stars-night-sky.jpg);
    padding: 80px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    border-bottom: 1px solid #00f0ff;
  }
  #constellation .head {
    color: #00f0ff !important;
  }
  #constellations hr{
    width: 100px;
    height: 4px;
    background-color: #00f0ff;
    border: none;
    margin: 0 auto 50px;
    box-shadow: 0 0 15px #00f0ff;
  }

  
  .constellation-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  #constellations .card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #00ffff;
    border-radius: 15px;
    transition: 0.3s;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #110033;
  }
  
  #constellations .card:hover {
    box-shadow: 0 0 30px #00ffff;
    transform: translateY(-5px);
  }
  
  #constellations .card h5 {
    color: #00f0ff !important;
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  #constellations img{
    width: auto;
    height: 300px;
    border-radius: 10px;
    margin: 5px;
  }
  #constellations a{
    background-color: #00f0ff !important;
    border: none;
  }

  #constellations a:hover{
    box-shadow: 0 0 15px #00f0ff;
    transform: scale(1.04);
    transition: 0.4s ease-in-out;
  }
  


  #comet {
    background-image: url(bgg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 20px;
    color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #00f0ff;

  }
  
  #comet h1 {
    text-align: center;
    color: #00f0ff;
    font-size: 3rem;
    text-shadow: 0 0 20px #00f0ff;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  #comet hr {
    width: 100px;
    height: 4px;
    background-color: #00f0ff;
    border: none;
    margin: 0 auto 50px;
    box-shadow: 0 0 15px #00f0ff;
  }
  
  #comet .card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #00f0ff44;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px #00f0ff22;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s ease;
    margin: 20px;
  }
  
  #comet .card:hover {
    box-shadow: 0 0 30px #00f0ff;
    transform: translateX(20px);
  }

  
  #comet .card-img-top {
    height: 250px;
    object-fit: cover;
    border-bottom: 1px solid #00ffff;
  }
  
  #comet .card-title {
    color: #00f0ff;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #comet .card-text {
    color: #cccccc;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  

  

/* HERO SECTION */
.hero-section {
  height: 100vh;
  background: url('planet-earth-astronaut-stands-on-the-looking-at_9601215.jpg!w700wp.webp') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-left: 10%;
  position: relative;
  overflow: hidden;
  transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out;
      border-bottom: 1px solid #00f0ff;


}

/* HERO TITLE */
.hero-content h1 {
  font-size: 3rem;
  position: absolute;
  bottom: 50%;
  color: transparent;
  -webkit-text-stroke: 1px #00ffff;
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.3);
  z-index: 1;
  animation: fadeInDown 1s ease forwards;
}

.hero-section.fade-out {
  opacity: 0;
}

.hero-section.fade-in {
  opacity: 1;
}

/* HERO BUTTON */
.hero-content a {
  position: absolute;
  bottom: 40%;
  display: inline-block;
  background: #00ffff;
  padding: 12px 25px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  z-index: 1;
}

.hero-content a:hover {
  box-shadow: 0 0 20px #00ffff;
  transform: scale(1.07);
}

/* PLANET SLIDER */
.slider {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  overflow-x: auto;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  box-shadow: 0 -5px 20px rgba(0, 255, 255, 0.1);
}

/* SLIDE ITEMS */
.slide-item {
  min-width: 100px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

.slide-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid black;
  transition: 0.3s;
}

.slide-item:hover img {
  transform: scale(1.05);
  border-color: #00ffff;
  box-shadow: 0 0 10px #00ffff;
}

/* PLANET LABEL */
.overlay {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #00ffff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-section {
    padding-left: 5%;
    align-items: flex-start;
  }
  .slider{
    left: 0;
  }

  .hero-content h1 {
    font-size: 2rem;
    color: #00ffff;
    -webkit-text-stroke: 0;
  }

  .slider {
    gap: 15px;
    padding: 10px;
  }
}

/* ANIMATIONS */
@keyframes fadeInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}



    .header-container {
      text-align: center;
      padding: 2rem;
      background:transparent;
      color: #00f0ff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    }

    .header-title {
      font-size: 2.5rem;
      font-weight: bold;
    }

    .sun-moon {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
    }

    @media (min-width: 768px) {
      .sun-moon {
        flex-direction: row;
        justify-content: space-around;
      }
    }

    .section-container {
      flex: 1;
      background-color: rgba(0, 0, 0, 0.201);
      border-radius: 12px;
      padding: 1.5rem;
      transition: all 0.3s ease;
    }

    .section-container:hover {
      transform: scale(1.02);
      box-shadow: 0 0 10px #00f0ff;

    }

    .title h2 {
      font-size: 2rem;
      color: #00f0ff;
      margin-bottom: 0.5rem;
    }

    .section-container hr {
    width: 120px;
    height: 4px;
    background-color: #00f0ff;
    box-shadow: 0 0 15px #00f0ff;
    }

    .image-div {
      text-align: center;
      margin-bottom: 1rem;
    }

    .image-div img {
      max-width: 100%;
      height: 400px;

    }

    .sun-facts li,
    .moon-facts li {
      margin-bottom: 0.6rem;
      line-height: 1.6;
      list-style-position: inside;
    }

    /* Responsive Fonts */
    @media (max-width: 768px) {
      .header-title {
        font-size: 2rem;
        text-align: center;
      }

      .title h2 {
        font-size: 1.5rem;
      }

          .image-div img {
      max-width: 300x;
      height: 300px;

    }
    }

  #astronomy-updates {
    background: linear-gradient(to right, #0b0e1a, #12162a);
    width: 100%;
    padding: 60px 0;
        border-bottom: 2px solid #00f0ff;

  }
  #astronomy-updates hr{
    width: 100px;
    height: 4px;
    background-color: #00f0ff;
    border: none;
    margin: 0 auto 50px;
    box-shadow: 0 0 15px #00f0ff;
  }
  
  #astronomy-updates .section-title {
    color: #00f0ff;
    font-size: 2.2rem;
    text-shadow: 0 0 10px #00f0ff88;
  }
  
  #astronomy-updates .section-subtitle {
    color: #bbb;
    max-width: 700px;
    margin: auto;
    font-size: 1rem;
  }
  
  #astronomy-updates h3 {
    color: #00f0ff;
    text-shadow: 0 0 6px #00f0ff33;
    margin-bottom: 15px;
  }
  
  #astronomy-updates p {
    font-size: 1rem;
    color: #dcdcdc;
    line-height: 1.6;
  }
  
  #astronomy-updates img {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
    height: auto;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
  }
  
  #astronomy-updates a.btn {
    background-color: #00ffff;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #00ffff99;
  }
  
  #astronomy-updates a.btn:hover {
    box-shadow: 0 0 15px #00ffff;
    transform: scale(1.07);
  }


  #astronomy-updates #h2{

    background-color:#00ffff;
    color: red;
    padding: 5px;
    border: none;
    /* width: max-content; */
  }
  #astronomy-updates img:hover{
    transform: scale(1.02);
    transition: all 0.3s ease;
    border: 1 px solid #00ffff;
  }


  #map{
    background: linear-gradient(to right, #0b0e1a, #12162a);
    height: auto;
    padding: 20px;
  }

  #map h1{
    text-align: center;
    color: #00f0ff;
    padding-top: 20px;
  }

    #map hr {
    width: 100px;
    height: 4px;
    background-color: #00f0ff;
    border: none;
    margin: 0 auto 50px;
    box-shadow: 0 0 15px #00f0ff;
  }

  #map .map{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  #map .map iframe{
    width: 100%;
  }



  





  #newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 60vh;
    background-image: url(news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #00ffff;
    border-bottom: 2px solid #00ffff;
  }

  #newsletter .input{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  #newsletter hr{
    width: 100px;
    height: 4px;
    background-color: black;
    border: none;
    margin: 0 auto 50px;
    box-shadow: 0 0 15px #00f0ff;
  }

  #newsletter h1{
    font-size: 2rem;
    font-weight: bolder;
  }

  #newsletter #email{
    height: 50px;
    width: 300px;
    border: none;
    text-align: center;
  }

  #newsletter #submit{
    height: 50px;
    width: 100px;
    border: none;
    background-color:#00f0ff ;
  }





  footer .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    text-align: center;
  }


  .footer-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .footer-link:hover {
    color: #00ffff;
    transform: translateY(-3px);
  }

  .footer-link:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 255, 255, 0.5);
  }

  .footer i {
    font-size: 1.2rem;
    margin-right: 5px;
  }

  .footer h5 {
    font-size: 1.1rem;
    font-weight: bold;
  }

  /* Social icon spacing */
  .footer a {
    display: inline-flex;
    align-items: center;
  }



  #backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    background-color: #00ffff;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: none;
    box-shadow: 0 0 10px #00ffff80;
    transition: all 0.3s ease-in-out;
  }
  
  #backToTop:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00ffff;
  }
  